@charset "utf-8";

*{
	margin:0;
	padding:0;
}

#index-quote{
	margin: 10px 3px;
	padding-left: 30px;
	background: #7BB5DE;
	color: #fff;
}
table#msg{
	width: 100%;
	height:100%;
	border: 1px solid balck;
	margin:10px auto;
}
table tr td{
	padding-top: 10px;
	vertical-align: top;
}
input#msg-title{
	width: 90%;
	margin-left: 6px;
}
textarea{
	height: 100%;
	resize: vertical;
}


#msg-list-border, #msg-detail-border{
	margin: 10px 20px;
	padding: 10px 15px;
	border:1px solid gray;
	line-height: 1.4em;
	font-size: 15px;
	font-family: "宋体", Arial, Helvetica, sans-serif;
	-moz-border-radius:10px;/*仅Firefox*/
	-webkit-border-radius:10px;/*仅Safari,Chrome*/
	-khtml-border-radius:10px;/*仅Safari,Chrome*/
	border-radius:10px;/*仅Opera，Safari,Chrome*/
}
#msg-list-border ul li{
	list-style-type: none;
	margin-top: 10px;
}
#msg-list-border ul li p{
	margin-bottom: 5px;
}
#msg-list-border .msg-list-date{
	display: block;
	float: right;
}

#msg-list-border a{color:black;}
#msg-list-border a:hover{color:#075BA4; text-decoration:none; }

#msg-list-border li span:nth-child(1){
	display: inline-block;
	width: 80%;
}

p#msg-list-bottom{
	margin: 15px auto auto 20px;
}
input#msg-list-jump{
	width: 2em;
	_width: 15px;
}

#msg-detail-top{
	color: red;
	text-align: center;
	font-size: 21px;
	font-weight: bold;
}

body>#wrap{
	height: auto;
	min-height: 100%;
}
#fix_main{
	padding-bottom: 100px;
}

.clearfix{
	display: block;
}

#footer{
	position:absolute;
    bottom:0;
    background: #E1E1E1;
    width:100%;
    height:100px;
}
#footer-content{
	padding-top: 10px;
	width: 96%;
	margin: 0 auto;
	font-size: 12px;
	font-family: "微软雅黑","宋体",Arial;
}
#footer-content .products_h {
	line-height: 30px;
	height: 30px;
}
#footer-content h4 {
	font-weight: normal;
	color: #777;
	width: 60px;
	font-size: 12px;
	display: block;
}
.fl{
	float: left;
}
#footer-content .products {
	line-height: 30px;
	height: 30px;
}
#footer-content .links {
	width: 90%;
	line-height: 30px;
}
#footer-content .links a {
	display: block;
	margin-left: 15px;
	float: left;
	color: #444;
}
#footer-content p, #footer-content p a {
	color: #777;
}