body { margin:0 auto; font-size:12px; font-family:Verdana; line-height:1.5;}
ul,dl,dd,h1,h2,h3,h4,h5,h6,form,p { padding:0; margin:0;}
ul { list-style:none;}
img { border:0px;}
a { color:#05a; text-decoration:none;}
a:hover { color:#f00;}

#container { width:1002px; margin:0 auto; background-position:center;}

/*body*/
#container { width:1002px; margin:0 auto;}

/*header*/
#header { height:80px;  margin-bottom:0px;}
#nav { float:right;height:32px;  margin-bottom:0px;}

/*main*/
#maincontent { margin-bottom:8px;}
#side { float:left; width:270px; height:604px;margin:0;margin-top:-32px;}
#main { float:right;  background:#FFCC99;}

/*user_login*/
.TxtUserNameCssClass {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../image/user_login_name.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 165px; LINE-HEIGHT: 20px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}
.TxtPasswordCssClass {
	BORDER-TOP-WIDTH: 0px; PADDING-LEFT: 25px; BORDER-LEFT-WIDTH: 0px; BACKGROUND: url(../image/user_login_password.png) no-repeat; BORDER-BOTTOM-WIDTH: 0px; WIDTH: 165px; LINE-HEIGHT: 20px; HEIGHT: 21px; BORDER-RIGHT-WIDTH: 0px
}


#earth {margin-top:-580px; margin-left:53px; }
#user_login { margin-top:22px; margin-left:53px; }

#button1 { margin-top:10px; margin-left:53px; }
#button2 { margin-top:4px; margin-left:53px; }
#password_modify {margin-top:2px; margin-left:168px; }



#nav { height:32px; width:732; background:url(../image/nav.png); float:right; margin:0;margin-left:270px;},
.nav_main { height:32px; overflow:hidden;}
.nav_main ul li { float:left;font-size:14px; font-weight:bold; margin: auto; width:183px;}
.nav_main ul li a { float: none; display:block; line-height:31px; color: #FFF; padding-left:46px;}
.nav_main ul li a span { display:block; padding-right:20px;}
.nav_main ul li a:hover { background-image:url(../image/nav_down.png); color: #A4D1FF; }





